.jumbotron {
  padding-top: 7rem;
  background-color: #e2f890;
}

#Tugas {
  background-color: #e2f890;
}

section {
  padding-top: 7rem;
}

.galeri-img {
  width: 100%;
}

#galeri .row > * {
  padding: 0;
}
